
html, body{
    margin: 0;
}

header h1, main h2{
    margin-bottom: 70px;
}

body{
    display: flex;
    flex-direction: column;

    height: 100vh;
}

header, main, footer {
    text-align: center;
}

.form{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

main .donors{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

header, .form ,main{
    margin-bottom: 70px;

    width: 90%;
    max-width: 500px;

    margin-left: auto;
    margin-right: auto;
}

footer{
    margin-top: auto;
}